.style2{
	color: yellow;
}

*{
	font-family: calibri;
	font-size: small;
}

h1{
	font-size: x-large;
}

#description{
	text-transform: uppercase;
}

.bg{
	background-color: lightgreen;
}

#border[target=_blank] {
    border-style: ridge;
}


ul {
	list-style-type: none;
	letter-spacing: 3px;
}